<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Path for Mac</title>
  <link rel='stylesheet' type='text/css' media='screen' href='css/app.css' />
</head>
<body>
  <div id="content">
    <div id="loading">
      <img class="icon" src="images/loading.gif" />
      <p>Loading...</p>
    </div>
  </div>

  <script id='moment_template' type='application/jst'>
    <% if(['ambient', 'thought', 'photo', 'place', 'music'].indexOf(m.type) !== -1) { %>
      <li class='moment <%- m.type %>' id='<%- m.id %>'>
        <div class='user_photo'>
          <% if(m.user && m.user.profilePhoto && m.user.profilePhoto.iOSLowResURL) { %>
            <img src='<%= m.user.profilePhoto.iOSLowResURL %>' alt='' />
          <% } %>
        </div>
        <% if(m.photo && m.photo.iOSLowResURL) { %>
          <div class='moment_photo'>
            <img src='<%= m.photo.iOSLowResURL %>' alt='' />
          </div>
        <% } %>
        <% var ambientMoment = (m.type == 'ambient' || m.type == 'place' || m.type == 'music') && (m.headline || m.subHeadline); %>
        <% if(ambientMoment) { %>
          <div class='ambient text'>
            <% if(m.subHeadline && m.subHeadline.length > 0) { %>
              <p class='headline'><%= m.headline %></p>
              <p class='sub_headline'><%= m.subHeadline %></p>
            <% } else { %>
              <p class='headline without_sub_headline'><%= m.headline %></p>
            <% } %>
          </div>
        <% } %>

        <% if (m.type == 'place') { %>
          <div class='place dot'></div>
        <% } else if (m.type == 'music') { %>
          <div class='music dot'></div>
        <% } else if(m.type == 'ambient' && m.subType == 'awake') { %>
          <div class='awake dot'></div>
        <% } else if(m.type == 'ambient' && m.subType == 'asleep') { %>
          <div class='asleep dot'></div>
        <% } else if(m.type == 'ambient' && m.subType == 'distance') { %>
          <div class='plane dot'></div>
        <% } else if(m.type == 'ambient' && m.subType == 'friend') { %>
          <div class='friend dot'>
            <% _.each(m.people, function(p) { %>
              <% var displayProfilePhoto = p && p.profilePhoto && p.profilePhoto.iOSLowResURL; %>
              <% if(displayProfilePhoto) { %>
                <div style='background-image: url(<%= displayProfilePhoto %>)'></div>
              <% } else { %>
                <div style='background-image: url(images/user.png)'></div>
              <% } %>
            <% }); %>
          </div>
        <% } else { %>
          <div class='null dot'></div>
        <% } %>

        <% var hasComments = m.comments && m.comments.length > 0; %>
        <% if((!ambientMoment && m.headline) || hasComments) { %>
          <div class='comments-tip'></div>
          <ul class='comments'>
            <% if(!ambientMoment && m.headline) { %>
              <li class='text'>
                <p class='body'><%= m.headline %></p>
                <p class='created_at'>
                  <abbr class="timeago" title="<%= m.createdAt %>"></abbr>
                  <% if(m.location && m.location.city) { %>
                    from <%- m.location.city %>
                  <% } %>
                </p>
              </li>
            <% } %>
            <% if(hasComments) { %>
              <% _.each(m.comments, function(c) { %>
                <% var displayProfilePhoto = c.user && c.user.profilePhoto && c.user.profilePhoto.iOSLowResURL; %>
                <li class='text<% if(displayProfilePhoto) { %> with_photo<% } %>'>
                  <% if(displayProfilePhoto) { %>
                    <div class='profile_photo' style='background-image: url(<%= c.user.profilePhoto.iOSLowResURL %>)'></div>
                  <% } %>
                  <p class='body'>
                    <% if(c.user && c.user.firstName) { %>
                      <strong><%- c.user.firstName %>:</strong>
                    <% } %>
                    <%= c.body %>
                  </p>
                  <p class='created_at'>
                    <abbr class="timeago" title="<%= c.createdAt %>"></abbr>
                    <% if(c.location && c.location.city) { %>
                      from <%- c.location.city %>
                    <% } %>
                  </p>
                </li>
              <% }); %>
            <% } %>
          </ul>
        <% } %>
      </li>
    <% } %>
  </script>

  <script id='feed_template' type='application/jst'>
    <% if(coverPhoto) { %>
      <div id="cover_photo" style='background-image: url(<%= coverPhoto %>)'>
        <div class='gradient'></div>
        <% if(profilePhoto) { %>
          <div id='user_profile_photo' style='background-image: url(<%= profilePhoto %>)'></div>
        <% } %>
        <div id="path_start"></div>
        <div id="path_journey"></div>
      </div>
    <% } %>
    <a href="#" id="refresh_button">
      <div>
        <img src="images/reload_shadow.png" class="shadow">
        <img src="images/reload.png" class="">
      </div>
    </a>
    <ul class='moments'>
      <% _.each(moments, function(m) { %>
        <%= _.template(Path.templates.moment, { m: m }) %>
      <% }); %>
    </ul>
  </script>

  <script id='example_json' type='application/json'>
  </script>

  <script src="vendor/jquery-1.7.1.js"></script>
  <script src="vendor/jquery.timeago.js"></script>
  <script src="vendor/underscore.js"></script>
  <script src="vendor/jquery.cycle.js"></script>
  <script src="js/app.js"></script>
  <script>
    Path.init();
    // Path.renderTemplate('feed', JSON.parse($('#example_json').text()));
  </script>
</body>
</html>

