<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Path for Mac</title>
  <link rel='stylesheet' type='text/css' media='screen' href='css/app.css' />
</head>
<body>
  <div id="content"></div>

  <script id='moment_template' type='application/jst'>
    <% if(['ambient', 'thought', 'photo'].indexOf(m.type) !== -1) { %>
      <li class='moment' id='<%- m.id %>'>
        <div class='user_photo'>
          <% if(m.user && m.user.profilePhoto && m.user.profilePhoto.iOSLowResURL) { %>
            <img src='<%= m.user.profilePhoto.iOSLowResURL %>' alt='' />
          <% } %>
        </div>
        <% if(m.photo && m.photo.iOSLowResURL) { %>
          <div class='moment_photo'>
            <img src='<%= m.photo.iOSLowResURL %>' alt='' />
          </div>
        <% } %>
        <% var ambientMoment = m.type == 'ambient' && m.headline && m.subHeadline; %>
        <% if(ambientMoment) { %>
          <div class='ambient text'>
            <p class='headline'><%= m.headline %></p>
            <p class='sub_headline'><%= m.subHeadline %></p>
          </div>
        <% } %>
        <% var hasComments = m.comments && m.comments.length > 0; %>
        <% if((!ambientMoment && m.headline) || hasComments) { %>
          <div class='comments-tip'></div>
          <ul class='comments'>
            <% if(!ambientMoment && m.headline) { %>
              <li class='text'>
                <p class='body'><%= m.headline %></p>
                <p class='created_at'>
                  <abbr class="timeago" title="<%= m.createdAt %>"></abbr>
                  <% if(m.location && m.location.city) { %>
                    from <%- m.location.city %>
                  <% } %>
                </p>
              </li>
            <% } %>
            <% if(hasComments) { %>
              <% _.each(m.comments, function(c) { %>
                <% var displayProfilePhoto = c.user && c.user.profilePhoto && c.user.profilePhoto.iOSLowResURL; %>
                <li class='text<% if(displayProfilePhoto) { %> with_photo<% } %>'>
                  <% if(displayProfilePhoto) { %>
                    <img class='profile_photo' src='<%= c.user.profilePhoto.iOSLowResURL %>' alt='' />
                  <% } %>
                  <p class='body'>
                    <% if(c.user && c.user.firstName) { %>
                      <strong><%- c.user.firstName %>:</strong>
                    <% } %>
                    <%= c.body %>
                  </p>
                  <p class='created_at'>
                    <abbr class="timeago" title="<%= c.createdAt %>"></abbr>
                    <% if(c.location && c.location.city) { %>
                      from <%- c.location.city %>
                    <% } %>
                  </p>
                </li>
              <% }); %>
            <% } %>
          </ul>
        <% } %>
      </li>
    <% } %>
  </script>

  <script id='feed_template' type='application/jst'>
    <% if(coverPhoto) { %>
      <div id="cover_photo" style='background-image: url(<%= coverPhoto %>)'>
        <div class='gradient'></div>
        <% if(profilePhoto) { %>
          <img id="profile_photo" src='<%= profilePhoto %>'>
          </div>
        <% } %>
      </div>
    <% } %>
    <a href="#" id="refresh_button">
      <div>
        <img src="images/reload_shadow.png" class="shadow">
        <img src="images/reload.png" class="">
      </div>
    </a>
    <ul class='moments'>
      <% _.each(moments, function(m) { %>
        <%= _.template(Path.templates.moment, { m: m }) %>
      <% }); %>
    </ul>
  </script>

  <script id='example_json' type='application/json'>
  </script>

  <script src="vendor/jquery-1.7.1.js"></script>
  <script src="vendor/jquery.timeago.js"></script>
  <script src="vendor/underscore.js"></script>
  <script src="js/app.js"></script>
  <script>
    Path.init();
    //Path.renderTemplate('feed', JSON.parse($('#example_json').text()));
  </script>
</body>
</html>

