<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Path for Mac</title>
  <link rel='stylesheet' type='text/css' media='screen' href='css/app.css' />
</head>
<body>
  <div id="content">
    <div id="loading">
      <img class="icon" src="images/loading.gif" />
      <p>Loading...</p>
    </div>
  </div>

  <script id='moment_template' type='application/jst'>
    <% if(['ambient', 'thought', 'photo', 'place', 'music'].indexOf(m.type) !== -1) { %>
      <li class='moment <%- m.type %>' id='<%- m.id %>'>
        <div class='user_photo'>
          <% if(m.user && m.user.profilePhoto && m.user.profilePhoto.iOSLowResURL) { %>
            <img src='<%= m.user.profilePhoto.iOSLowResURL %>' alt='' />
          <% } %>
        </div>
        <% if(m.photo && m.photo.iOSLowResURL) { %>
          <div class='moment_photo'>
            <img src='<%= m.photo.iOSLowResURL %>' alt='' />
          </div>
        <% } %>
        <% var ambientMoment = (m.type == 'ambient' || m.type == 'place' || m.type == 'music') && (m.headline || m.subHeadline); %>
        <% if(ambientMoment) { %>
          <div class='ambient text'>
            <p class='headline'><%= m.headline %></p>
            <p class='sub_headline'><%= m.subHeadline %></p>
          </div>
        <% } %>

        <% if (m.type == 'place') { %>
          <div class='place dot'></div>
        <% } else if (m.type == 'music') { %>
          <div class='music dot'></div>
        <% } else if(m.type == 'ambient' && m.subType == 'awake') { %>
          <div class='awake dot'></div>
        <% } else if(m.type == 'ambient' && m.subType == 'asleep') { %>
          <div class='asleep dot'></div>
        <% } else if(m.type == 'ambient' && m.subType == 'distance') { %>
          <div class='plane dot'></div>
        <% } else if(m.type == 'ambient' && m.subType == 'friend') { %>
          <div class='friend dot'>
            <% _.each(m.people, function(p) { %>
              <% var displayProfilePhoto = p && p.profilePhoto && p.profilePhoto.iOSLowResURL; %>
              <% if(displayProfilePhoto) { %>
                <div style='background-image: url(<%= displayProfilePhoto %>)'></div>
              <% } else { %>
                <div style='background-image: url(images/user.png)'></div>
              <% } %>
            <% }); %>
          </div>
        <% } else { %>
          <div class='null dot'></div>
        <% } %>

        <% var hasComments = m.comments && m.comments.length > 0; %>
        <% if((!ambientMoment && m.headline) || hasComments) { %>
          <div class='comments-tip'></div>
          <ul class='comments'>
            <% if(!ambientMoment && m.headline) { %>
              <li class='text'>
                <p class='body'><%= m.headline %></p>
                <p class='created_at'>
                  <abbr class="timeago" title="<%= m.createdAt %>"></abbr>
                  <% if(m.location && m.location.city) { %>
                    from <%- m.location.city %>
                  <% } %>
                </p>
              </li>
            <% } %>
            <% if(hasComments) { %>
              <% _.each(m.comments, function(c) { %>
                <% var displayProfilePhoto = c.user && c.user.profilePhoto && c.user.profilePhoto.iOSLowResURL; %>
                <li class='text<% if(displayProfilePhoto) { %> with_photo<% } %>'>
                  <% if(displayProfilePhoto) { %>
                    <div class='profile_photo' style='background-image: url(<%= c.user.profilePhoto.iOSLowResURL %>)'></div>
                  <% } %>
                  <p class='body'>
                    <% if(c.user && c.user.firstName) { %>
                      <strong><%- c.user.firstName %>:</strong>
                    <% } %>
                    <%= c.body %>
                  </p>
                  <p class='created_at'>
                    <abbr class="timeago" title="<%= c.createdAt %>"></abbr>
                    <% if(c.location && c.location.city) { %>
                      from <%- c.location.city %>
                    <% } %>
                  </p>
                </li>
              <% }); %>
            <% } %>
          </ul>
        <% } %>
      </li>
    <% } %>
  </script>

  <script id='feed_template' type='application/jst'>
    <% if(coverPhoto) { %>
      <div id="cover_photo" style='background-image: url(<%= coverPhoto %>)'>
        <div class='gradient'></div>
        <% if(profilePhoto) { %>
          <div id='user_profile_photo' style='background-image: url(<%= profilePhoto %>)'></div>
        <% } %>
        <div id="path_start"></div>
        <div id="path_journey"></div>
      </div>
    <% } %>
    <a href="#" id="refresh_button">
      <div>
        <img src="images/reload_shadow.png" class="shadow">
        <img src="images/reload.png" class="">
      </div>
    </a>
    <ul class='moments'>
      <% _.each(moments, function(m) { %>
        <%= _.template(Path.templates.moment, { m: m }) %>
      <% }); %>
    </ul>
  </script>

  <script id='example_json' type='application/json'>
  {
      "moments": [
          {
              "id": "4f424ec2df21bf7de028ffce",
              "comments": [],
              "private": false,
              "state": "live",
              "people": [],
              "headline": "Listening to Once Upon a Time In the West by <b>Dire Straits</b>",
              "type": "music",
              "shared": false,
              "location": {
                  "id": "4f424ec1df21bf7de028ffc8",
                  "windDirection": "116 degrees",
                  "temperature": "78F",
                  "windSpeed": "4.9 meters per second",
                  "countryName": "Singapore",
                  "longitude": 103.84776531619134,
                  "elevation": 0,
                  "weatherConditions": "Mostly cloudy",
                  "latitude": 1.3010058348570388,
                  "cloudCover": "75%",
                  "dewPoint": "74F",
                  "city": "Singapore",
                  "accuracy": 0,
                  "country": "SG"
              },
              "subHeadline": "Communique, 2000",
              "user": {
                  "firstName": "Arun",
                  "id": "4ed6331cbee9e75a2f0009a7",
                  "lastName": "Thampi",
                  "profilePhoto": {
                      "iOSLowResURL": "https://s3-us-west-1.amazonaws.com/images.path.com/profile_photos/65e0aa8bb1abd8fb0831756e05a1be2b04dee6d4/processed_80x80.jpg",
                      "originalURL": "https://s3-us-west-1.amazonaws.com/images.path.com/profile_photos/65e0aa8bb1abd8fb0831756e05a1be2b04dee6d4/original.jpg",
                      "iOSHighResURL": "https://s3-us-west-1.amazonaws.com/images.path.com/profile_photos/65e0aa8bb1abd8fb0831756e05a1be2b04dee6d4/processed_160x160.jpg"
                  }
              },
              "createdAt": "2012-02-20T13:44:09Z"
          },
          {
              "id": "4f41d049830b3b2f7d23de6e",
              "private": false,
              "state": "live",
              "comments": [
                  {
                      "body": "Blah blah H",
                      "id": "4f41d049830b3b2f7d23de70",
                      "state": "live",
                      "createdAt": "2012-02-20T04:47:19Z",
                      "location": {
                          "id": "4f41d048830b3b2f7d23de5f",
                          "windDirection": "102 degrees",
                          "temperature": "85F",
                          "windSpeed": "2.9 meters per second",
                          "countryName": "Singapore",
                          "longitude": 103.84920913148817,
                          "elevation": 0,
                          "weatherConditions": "Mostly cloudy",
                          "latitude": 1.2862092651277848,
                          "cloudCover": "75%",
                          "dewPoint": "74F",
                          "city": "Singapore",
                          "accuracy": 0,
                          "country": "SG"
                      },
                      "user": {
                          "firstName": "Developer",
                          "id": "4f368b2ccf42866f02004656",
                          "lastName": "Bear",
                          "profilePhoto": {
                              "iOSLowResURL": "https://s3-us-west-1.amazonaws.com/images.path.com/profile_photos/008a31c502cf2ddb4c49c015167100d3f856299b/processed_80x80.jpg",
                              "originalURL": "https://s3-us-west-1.amazonaws.com/images.path.com/profile_photos/008a31c502cf2ddb4c49c015167100d3f856299b/original.jpg",
                              "iOSHighResURL": "https://s3-us-west-1.amazonaws.com/images.path.com/profile_photos/008a31c502cf2ddb4c49c015167100d3f856299b/processed_160x160.jpg"
                          }
                      }
                  }
              ],
              "people": [],
              "headline": "At <b>Anideo HQ</b>",
              "type": "place",
              "shared": false,
              "location": {
                  "id": "4f41d048830b3b2f7d23de5f",
                  "windDirection": "102 degrees",
                  "temperature": "85F",
                  "windSpeed": "2.9 meters per second",
                  "countryName": "Singapore",
                  "longitude": 103.84920913148817,
                  "elevation": 0,
                  "weatherConditions": "Mostly cloudy",
                  "latitude": 1.2862092651277848,
                  "cloudCover": "75%",
                  "dewPoint": "74F",
                  "city": "Singapore",
                  "accuracy": 0,
                  "country": "SG"
              },
              "subHeadline": "Singapore",
              "user": {
                  "firstName": "Developer",
                  "id": "4f368b2ccf42866f02004656",
                  "lastName": "Bear",
                  "profilePhoto": {
                      "iOSLowResURL": "https://s3-us-west-1.amazonaws.com/images.path.com/profile_photos/008a31c502cf2ddb4c49c015167100d3f856299b/processed_80x80.jpg",
                      "originalURL": "https://s3-us-west-1.amazonaws.com/images.path.com/profile_photos/008a31c502cf2ddb4c49c015167100d3f856299b/original.jpg",
                      "iOSHighResURL": "https://s3-us-west-1.amazonaws.com/images.path.com/profile_photos/008a31c502cf2ddb4c49c015167100d3f856299b/processed_160x160.jpg"
                  }
              },
              "place": {
                  "id": "4ee81b0d9a52792fdc30984d",
                  "latitude": 1.2861639999999999,
                  "longitude": 103.849074,
                  "totalCheckins": 2,
                  "name": "Anideo HQ"
              },
              "createdAt": "2012-02-20T04:47:19Z"
          },
          {
              "id": "4f3fb2e6f1f70e5b0106c6bf",
              "private": false,
              "state": "live",
              "comments": [
                  {
                      "body": "Nice Kalamari",
                      "id": "4f3fb37edf21bf7de0098433",
                      "state": "live",
                      "createdAt": "2012-02-18T14:19:41Z",
                      "location": {
                          "id": "4f3fb37ddf21bf7de0098432",
                          "windDirection": "0 degrees",
                          "temperature": "78F",
                          "windSpeed": "0 meters per second",
                          "countryName": "Singapore",
                          "longitude": 103.85259199897186,
                          "elevation": 0,
                          "weatherConditions": "Partly cloudy",
                          "latitude": 1.2993198819470586,
                          "cloudCover": "38%",
                          "dewPoint": "73F",
                          "city": "Singapore",
                          "accuracy": 0,
                          "country": "SG"
                      },
                      "user": {
                          "firstName": "Janesh",
                          "id": "4e7300abd9b35960d0000024",
                          "lastName": "Janardhanan",
                          "profilePhoto": {
                              "iOSLowResURL": "https://s3-us-west-1.amazonaws.com/images.path.com/profile_photos/2b19e5d6d55fc1e41aa135d29aa65a63d27c9e98/processed_80x80.jpg",
                              "originalURL": "https://s3-us-west-1.amazonaws.com/images.path.com/profile_photos/2b19e5d6d55fc1e41aa135d29aa65a63d27c9e98/original.jpg",
                              "iOSHighResURL": "https://s3-us-west-1.amazonaws.com/images.path.com/profile_photos/2b19e5d6d55fc1e41aa135d29aa65a63d27c9e98/processed_160x160.jpg"
                          }
                      }
                  }
              ],
              "people": [],
              "headline": "At <b>Artichoke Café + Bar</b> with <b>Janesh</b>",
              "type": "place",
              "shared": false,
              "location": {
                  "id": "4f3fb2e4f1f70e5b0106c6ae",
                  "elevation": 0,
                  "latitude": 1.3000940723192485,
                  "longitude": 103.85339322964417,
                  "accuracy": 0
              },
              "subHeadline": "Singapore Café",
              "user": {
                  "firstName": "Arun",
                  "id": "4ed6331cbee9e75a2f0009a7",
                  "lastName": "Thampi",
                  "profilePhoto": {
                      "iOSLowResURL": "https://s3-us-west-1.amazonaws.com/images.path.com/profile_photos/65e0aa8bb1abd8fb0831756e05a1be2b04dee6d4/processed_80x80.jpg",
                      "originalURL": "https://s3-us-west-1.amazonaws.com/images.path.com/profile_photos/65e0aa8bb1abd8fb0831756e05a1be2b04dee6d4/original.jpg",
                      "iOSHighResURL": "https://s3-us-west-1.amazonaws.com/images.path.com/profile_photos/65e0aa8bb1abd8fb0831756e05a1be2b04dee6d4/processed_160x160.jpg"
                  }
              },
              "place": {
                  "address": "161 Middle Rd, Sculpture Square",
                  "city": "Singapore",
                  "longitude": 103.852107,
                  "id": "4c6f6103df6b8cfa1342b54d",
                  "postalCode": "188978",
                  "phone": "63366949",
                  "formattedPhone": "6336 6949",
                  "latitude": 1.29968,
                  "totalCheckins": 10,
                  "name": "Artichoke Café + Bar",
                  "state": "Singapore"
              },
              "createdAt": "2012-02-18T14:14:55Z"
          },
          {
              "shared": false,
              "thought": {
                  "body": "ykvhct hvhc"
              },
              "user": {
                  "firstName": "Aloha",
                  "id": "4f338c49f6b766128d011175",
                  "lastName": "Boss",
                  "profilePhoto": {
                      "iOSLowResURL": "https://s3-us-west-1.amazonaws.com/images.path.com/profile_photos/bef62e4fdd1b2a4e1df408443fcb4e2cde6f2a03/processed_80x80.jpg",
                      "originalURL": "https://s3-us-west-1.amazonaws.com/images.path.com/profile_photos/bef62e4fdd1b2a4e1df408443fcb4e2cde6f2a03/original.jpg",
                      "iOSHighResURL": "https://s3-us-west-1.amazonaws.com/images.path.com/profile_photos/bef62e4fdd1b2a4e1df408443fcb4e2cde6f2a03/processed_160x160.jpg"
                  }
              },
              "id": "4f3dff83d2bfa8122f04eff2",
              "createdAt": "2012-02-17T07:19:31Z",
              "comments": [
                  {
                      "body": "I",
                      "id": "4f41d20aa3affa5ae823ec85",
                      "state": "live",
                      "createdAt": "2012-02-20T04:54:34Z",
                      "location": {
                          "id": "4f41d20aa3affa5ae823ec83",
                          "windDirection": "102 degrees",
                          "temperature": "85F",
                          "windSpeed": "2.9 meters per second",
                          "countryName": "Singapore",
                          "longitude": 103.84920913148817,
                          "elevation": 0,
                          "weatherConditions": "Mostly cloudy",
                          "latitude": 1.2862092651277848,
                          "cloudCover": "75%",
                          "dewPoint": "74F",
                          "city": "Singapore",
                          "accuracy": 0,
                          "country": "SG"
                      },
                      "user": {
                          "firstName": "Developer",
                          "id": "4f368b2ccf42866f02004656",
                          "lastName": "Bear",
                          "profilePhoto": {
                              "iOSLowResURL": "https://s3-us-west-1.amazonaws.com/images.path.com/profile_photos/008a31c502cf2ddb4c49c015167100d3f856299b/processed_80x80.jpg",
                              "originalURL": "https://s3-us-west-1.amazonaws.com/images.path.com/profile_photos/008a31c502cf2ddb4c49c015167100d3f856299b/original.jpg",
                              "iOSHighResURL": "https://s3-us-west-1.amazonaws.com/images.path.com/profile_photos/008a31c502cf2ddb4c49c015167100d3f856299b/processed_160x160.jpg"
                          }
                      }
                  },
                  {
                      "body": "Hello",
                      "id": "4f41d20ed2bfa8540723fdeb",
                      "state": "live",
                      "createdAt": "2012-02-20T04:54:35Z",
                      "location": {
                          "id": "4f41d20bd2bfa8540723fdd6",
                          "elevation": 0,
                          "latitude": 1.2848605482448687,
                          "longitude": 103.84610123894038,
                          "accuracy": 0
                      },
                      "user": {
                          "firstName": "Developer",
                          "id": "4f368b2ccf42866f02004656",
                          "lastName": "Bear",
                          "profilePhoto": {
                              "iOSLowResURL": "https://s3-us-west-1.amazonaws.com/images.path.com/profile_photos/008a31c502cf2ddb4c49c015167100d3f856299b/processed_80x80.jpg",
                              "originalURL": "https://s3-us-west-1.amazonaws.com/images.path.com/profile_photos/008a31c502cf2ddb4c49c015167100d3f856299b/original.jpg",
                              "iOSHighResURL": "https://s3-us-west-1.amazonaws.com/images.path.com/profile_photos/008a31c502cf2ddb4c49c015167100d3f856299b/processed_160x160.jpg"
                          }
                      }
                  }
              ],
              "people": [],
              "type": "thought",
              "private": false,
              "state": "live",
              "headline": "ykvhct hvhc"
          },
          {
              "shared": false,
              "subType": "friend",
              "user": {
                  "firstName": "Arun",
                  "id": "4ed6331cbee9e75a2f0009a7",
                  "lastName": "Thampi",
                  "profilePhoto": {
                      "iOSLowResURL": "https://s3-us-west-1.amazonaws.com/images.path.com/profile_photos/65e0aa8bb1abd8fb0831756e05a1be2b04dee6d4/processed_80x80.jpg",
                      "originalURL": "https://s3-us-west-1.amazonaws.com/images.path.com/profile_photos/65e0aa8bb1abd8fb0831756e05a1be2b04dee6d4/original.jpg",
                      "iOSHighResURL": "https://s3-us-west-1.amazonaws.com/images.path.com/profile_photos/65e0aa8bb1abd8fb0831756e05a1be2b04dee6d4/processed_160x160.jpg"
                  }
              },
              "id": "4f3dde116338900ec200d8b9",
              "createdAt": "2012-02-17T04:56:49Z",
              "comments": [],
              "people": [
                  {
                      "firstName": "Janesh",
                      "id": "4e7300abd9b35960d0000024",
                      "lastName": "Janardhanan",
                      "profilePhoto": {
                          "iOSLowResURL": "https://s3-us-west-1.amazonaws.com/images.path.com/profile_photos/2b19e5d6d55fc1e41aa135d29aa65a63d27c9e98/processed_80x80.jpg",
                          "originalURL": "https://s3-us-west-1.amazonaws.com/images.path.com/profile_photos/2b19e5d6d55fc1e41aa135d29aa65a63d27c9e98/original.jpg",
                          "iOSHighResURL": "https://s3-us-west-1.amazonaws.com/images.path.com/profile_photos/2b19e5d6d55fc1e41aa135d29aa65a63d27c9e98/processed_160x160.jpg"
                      }
                  }
              ],
              "type": "ambient",
              "private": false,
              "state": "live",
              "headline": "Friends with <b>Janesh Janardhanan</b>"
          },
          {
              "id": "4f3ce714df21bf578b03e0dd",
              "private": false,
              "state": "live",
              "comments": [],
              "people": [],
              "headline": "Awake in <b>Singapore</b>",
              "subType": "awake",
              "type": "ambient",
              "shared": false,
              "location": {
                  "id": "4f3ce714df21bf578b03e0db",
                  "windDirection": "93 degrees",
                  "temperature": "81F",
                  "windSpeed": "10.1 meters per second",
                  "countryName": "Singapore",
                  "longitude": 103.84976325654706,
                  "elevation": 0,
                  "weatherConditions": "Thunderstorms",
                  "latitude": 1.2866616512290572,
                  "cloudCover": "100%",
                  "dewPoint": "71F",
                  "city": "Singapore",
                  "accuracy": 0,
                  "country": "SG"
              },
              "subHeadline": "It's 7:23 PM, thunderstorms, and 81°F. Sleep? Who needs sleep?",
              "user": {
                  "firstName": "Aloha",
                  "id": "4f338c49f6b766128d011175",
                  "lastName": "Boss",
                  "profilePhoto": {
                      "iOSLowResURL": "https://s3-us-west-1.amazonaws.com/images.path.com/profile_photos/bef62e4fdd1b2a4e1df408443fcb4e2cde6f2a03/processed_80x80.jpg",
                      "originalURL": "https://s3-us-west-1.amazonaws.com/images.path.com/profile_photos/bef62e4fdd1b2a4e1df408443fcb4e2cde6f2a03/original.jpg",
                      "iOSHighResURL": "https://s3-us-west-1.amazonaws.com/images.path.com/profile_photos/bef62e4fdd1b2a4e1df408443fcb4e2cde6f2a03/processed_160x160.jpg"
                  }
              },
              "createdAt": "2012-02-16T11:23:00Z"
          },
          {
              "id": "4f3ce708a3affa4e3404090a",
              "private": false,
              "state": "live",
              "comments": [],
              "people": [],
              "headline": "Sleeping in <b>Singapore</b>",
              "subType": "asleep",
              "type": "ambient",
              "shared": false,
              "location": {
                  "id": "4f3ce707a3affa4e34040908",
                  "windDirection": "93 degrees",
                  "temperature": "81F",
                  "windSpeed": "10.1 meters per second",
                  "countryName": "Singapore",
                  "longitude": 103.84976325654706,
                  "elevation": 0,
                  "weatherConditions": "Thunderstorms",
                  "latitude": 1.2866616512290572,
                  "cloudCover": "100%",
                  "dewPoint": "71F",
                  "city": "Singapore",
                  "accuracy": 0,
                  "country": "SG"
              },
              "subHeadline": "It's 7:22 PM. Big day!",
              "user": {
                  "firstName": "Aloha",
                  "id": "4f338c49f6b766128d011175",
                  "lastName": "Boss",
                  "profilePhoto": {
                      "iOSLowResURL": "https://s3-us-west-1.amazonaws.com/images.path.com/profile_photos/bef62e4fdd1b2a4e1df408443fcb4e2cde6f2a03/processed_80x80.jpg",
                      "originalURL": "https://s3-us-west-1.amazonaws.com/images.path.com/profile_photos/bef62e4fdd1b2a4e1df408443fcb4e2cde6f2a03/original.jpg",
                      "iOSHighResURL": "https://s3-us-west-1.amazonaws.com/images.path.com/profile_photos/bef62e4fdd1b2a4e1df408443fcb4e2cde6f2a03/processed_160x160.jpg"
                  }
              },
              "createdAt": "2012-02-16T11:22:48Z"
          },
          {
              "id": "4f3a89ead2bfa8396b0409f7",
              "comments": [],
              "private": false,
              "state": "live",
              "thought": {
                  "body": "Derp derp"
              },
              "headline": "Derp derp",
              "people": [],
              "type": "thought",
              "shared": false,
              "location": {
                  "id": "4f3a89e8d2bfa8396b0409ea",
                  "elevation": 0,
                  "latitude": 1.3800846536978983,
                  "longitude": 103.76442338457791,
                  "accuracy": 0
              },
              "user": {
                  "firstName": "Developer",
                  "id": "4f368b2ccf42866f02004656",
                  "lastName": "Bear",
                  "profilePhoto": {
                      "iOSLowResURL": "https://s3-us-west-1.amazonaws.com/images.path.com/profile_photos/008a31c502cf2ddb4c49c015167100d3f856299b/processed_80x80.jpg",
                      "originalURL": "https://s3-us-west-1.amazonaws.com/images.path.com/profile_photos/008a31c502cf2ddb4c49c015167100d3f856299b/original.jpg",
                      "iOSHighResURL": "https://s3-us-west-1.amazonaws.com/images.path.com/profile_photos/008a31c502cf2ddb4c49c015167100d3f856299b/processed_160x160.jpg"
                  }
              },
              "createdAt": "2012-02-14T16:21:08Z"
          },
          {
              "id": "4f3a8905ad4954366e0404b0",
              "comments": [],
              "private": false,
              "state": "live",
              "thought": {
                  "body": "Derp"
              },
              "headline": "Derp",
              "people": [],
              "type": "thought",
              "shared": false,
              "location": {
                  "id": "4f3a8905ad4954366e0404aa",
                  "windDirection": "89 degrees",
                  "temperature": "80F",
                  "windSpeed": "4.9 meters per second",
                  "countryName": "Singapore",
                  "longitude": 103.76442338457791,
                  "elevation": 0,
                  "weatherConditions": "Mostly cloudy",
                  "latitude": 1.3800846536978983,
                  "cloudCover": "75%",
                  "dewPoint": "73F",
                  "city": "Singapore",
                  "accuracy": 0,
                  "country": "SG"
              },
              "user": {
                  "firstName": "Developer",
                  "id": "4f368b2ccf42866f02004656",
                  "lastName": "Bear",
                  "profilePhoto": {
                      "iOSLowResURL": "https://s3-us-west-1.amazonaws.com/images.path.com/profile_photos/008a31c502cf2ddb4c49c015167100d3f856299b/processed_80x80.jpg",
                      "originalURL": "https://s3-us-west-1.amazonaws.com/images.path.com/profile_photos/008a31c502cf2ddb4c49c015167100d3f856299b/original.jpg",
                      "iOSHighResURL": "https://s3-us-west-1.amazonaws.com/images.path.com/profile_photos/008a31c502cf2ddb4c49c015167100d3f856299b/processed_160x160.jpg"
                  }
              },
              "createdAt": "2012-02-14T16:17:22Z"
          },
          {
              "shared": false,
              "location": {
                  "id": "4f3a87f4830b3b126b0405e1",
                  "elevation": 0,
                  "latitude": 1.3801000812686373,
                  "longitude": 103.76442497375186,
                  "accuracy": 0
              },
              "user": {
                  "firstName": "Developer",
                  "id": "4f368b2ccf42866f02004656",
                  "lastName": "Bear",
                  "profilePhoto": {
                      "iOSLowResURL": "https://s3-us-west-1.amazonaws.com/images.path.com/profile_photos/008a31c502cf2ddb4c49c015167100d3f856299b/processed_80x80.jpg",
                      "originalURL": "https://s3-us-west-1.amazonaws.com/images.path.com/profile_photos/008a31c502cf2ddb4c49c015167100d3f856299b/original.jpg",
                      "iOSHighResURL": "https://s3-us-west-1.amazonaws.com/images.path.com/profile_photos/008a31c502cf2ddb4c49c015167100d3f856299b/processed_160x160.jpg"
                  }
              },
              "id": "4f3a87f6830b3b126b0405e9",
              "createdAt": "2012-02-14T16:12:36Z",
              "comments": [],
              "people": [],
              "type": "photo",
              "private": false,
              "state": "live",
              "photo": {
                  "iOSLowResURL": "https://s3-us-west-1.amazonaws.com/images.path.com/photos2/cb22ff6f-e7ca-482a-928e-4e488fa06187/1x.jpg",
                  "originalURL": "https://s3-us-west-1.amazonaws.com/images.path.com/photos2/cb22ff6f-e7ca-482a-928e-4e488fa06187/original.jpg",
                  "iOSHighResURL": "https://s3-us-west-1.amazonaws.com/images.path.com/photos2/cb22ff6f-e7ca-482a-928e-4e488fa06187/2x.jpg"
              }
          }
      ],
      "coverPhoto": "https://s3-us-west-1.amazonaws.com/images.path.com/static/covers/19/2x.jpg",
      "profilePhoto": "https://s3-us-west-1.amazonaws.com/images.path.com/profile_photos/bef62e4fdd1b2a4e1df408443fcb4e2cde6f2a03/processed_160x160.jpg"
  }
  </script>

  <script src="vendor/jquery-1.7.1.js"></script>
  <script src="vendor/jquery.timeago.js"></script>
  <script src="vendor/underscore.js"></script>
  <script src="vendor/jquery.cycle.js"></script>
  <script src="js/app.js"></script>
  <script>
    Path.init();
    // Path.renderTemplate('feed', JSON.parse($('#example_json').text()));
  </script>
</body>
</html>

