body {
  background: #f3eeea url(../images/bg.png);
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#content, #cover_photo {
  width: 390px;
}

#cover_photo {
  position: relative;
  height: 244px;
  background-color: #333;
  background-size: cover;
}

#cover_photo .gradient {
  position: absolute;
  width: 390px;
  height: 100px;
  bottom: 0;
  background-image: -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5));
}

#user_profile_photo {
  width: 50px;
  height: 50px;
  position: relative;
  display: block;
  top: 150px;
  left: 45px;
  background-color: black;
  background-size: cover;
  background-position: center center;
  -webkit-border-radius: 25px;
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.9),
                      inset 0 0 6px rgba(255,255,255,0.9);
}

#loading {
  position: relative;
  margin: 0 auto;
  background: black;
  opacity: 0.6;
  width: 100px;
  -webkit-border-radius: 8px;
  margin-top: 35%;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5);
}

#loading p {
  padding: 13px 0 15px 0;
  margin: 0;
  font-size: 13px;
  font-weight: bold;
  color: white;
}

#loading .icon {
  padding: 25px 0 0 0;
}

#path_start {
  width: 8px;
  height: 8px;
  position: relative;
  top: 165px;
  left: 66px;
  background-color: #fff;
  -webkit-border-radius: 10px;
  -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.8);
  z-index: 999;
}

#path_journey {
  position: absolute;
  background-color: rgba(204,204,204,0.4);
  left: 69px;
  bottom: 0px;
  width: 2px;
  height: 20px;
  z-index: 100;
}

ul.moments {
  list-style: none;
  padding: 0;
  margin: 0;
  background: url(../images/line.png) repeat-y 69px 0;
}

li.moment {
  position: relative;
  margin: 0;
  padding: 10px 0;
  border-top: 1px solid rgba(255,255,255,0.55);
  border-bottom: 1px solid rgba(204,204,204,0.55);
  text-align: right;
  min-height: 45px;
}

li.moment:first-child {
  border-top: none;
}

li.moment:last-child {
  border-bottom: none;
}

.moment_photo {
  position: relative;
  z-index: 109;
}

.moment_photo img {
  padding: 5px;
  min-height: 240px;
  width: 320px;
  margin-right: 5px;
  background: white;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.35);
}

.user_photo {
  position: absolute;
  top: 15px;
  left: 10px;
  -webkit-border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 4px rgba(0,0,0,0.5),
                      0 1px 0 white;
  overflow: hidden;
}

.user_photo img {
  display: block;
  position: relative;
  z-index: -1;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 5px;
}

.text p {
  margin: 0;
  font-size: 12px;
  line-height: 1.4;
}

.text p.sub_headline, .text p.created_at {
  color: #aaa;
}

.dot {
  position: absolute;
  border: 2px solid white;
  z-index: 99;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.35);
  text-align: center;
  width: 22px;
  height: 22px;
  left: 57px;
  top: 16px;
  -webkit-border-radius: 14px;
  background-repeat: no-repeat;
  background-position: center center;
}

.null.dot {
  width: 8px;
  height: 8px;
  left: 64px;
  top: 16px;
  -webkit-border-radius: 6px;
  background: #CDC5A1;
}

.place.dot {
  background-color: #2974d0;
  background-image: url(../images/place.png);
}

.awake.dot {
  background-color: #f2d11b;
  background-image: url(../images/awake.png);
}

.asleep.dot {
  background-color: #480a87;
  background-image: url(../images/asleep.png);
}

.music.dot {
  background-color: #FF8C00;
  background-image: url(../images/music.png);
}

.plane.dot {
  background-color: #555555;
  background-image: url(../images/plane.png);
}

.ambient.text {
  margin-top: 5px;
  margin-left: 90px;
  width: 290px;
  text-align: left;
  text-shadow: 0 1px 0 white;
}

.comments-tip {
  position: absolute;
  margin-top: 4px;
  left: 104px;
  width: 8px;
  height: 8px;
  background: #fbfbfb;
  z-index: 10;
  -webkit-transform: rotate(45deg);
  border-top: 1px solid rgba(0,0,0,0.1);
  border-left: 1px solid rgba(0,0,0,0.1);
}

li.moment.thought .dot {
  top: 30px;
}

li.moment.thought .comments-tip {
  left: 80px;
  top: 27px;
  border-top: none;
  border-bottom: 2px solid rgba(0,0,0,0.15);
}

li.moment.thought ul.comments li:first-child .created_at {
  display: none;
}

ul.comments {
  list-style: none;
  margin: 10px 0 0 85px;
  padding: 0;
  background: #fbfbfb;
  width: 295px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.35);
  -webkit-border-radius: 4px;
}

ul.comments li.text {
  position: relative;
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
}

ul.comments li.text.with_photo p {
  margin-left: 40px;
}

ul.comments li.text:last-child {
  border-bottom: 0;
}

ul.comments .profile_photo {
  position: absolute;
  width: 32px;
  height: 32px;
  margin-right: 8px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.35);
  -webkit-border-radius: 4px;
  background-color: #ccc;
  background-size: cover;
}

#refresh_button{
  display: block;
  position: absolute;
  top: 200px;
  left: 13px;
  width: 33px;
  height: 33px;
}

#refresh_button > div {
  position: relative;
}

#refresh_button img {
  position: absolute;
  top: 1px;
}

#refresh_button img.shadow {
  top: 0;
}

.loading {
  -webkit-animation: infinite-spinning 1.2s infinite linear;
}

@-webkit-keyframes infinite-spinning {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
