body {
  background: #f1f1f1;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#content, #cover_photo {
  width: 390px;
}

#cover_photo {
  position: relative;
  height: 244px;
  background-size: cover;
}

#profile_photo {
  width: 50px;
  height: 50px;
  position: relative;
  display: block;
  top: 150px;
  left: 46px;
  -webkit-border-radius: 24px;
  -webkit-box-shadow: 0px 0px 4px 1px #666;
}

#loading {
  margin: 0 auto;
  padding: 15px 15px 15px 25px;
  background: #111;
  opacity: 0.6;
  color: white;
  width: 100px;
  -webkit-border-radius: 8px;
  margin-top: 50%;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}

#loading .message {
  float: left;
  padding-top: 3px;
}

#loading .icon {
  padding-top: 1px;
}

#path_start {
  width: 8px;
  height: 8px;
  position: relative;
  top: 165px;
  left: 68px;
  background-color: #fff;
  -webkit-border-radius: 24px;
  -webkit-box-shadow: 0px 0px 4px 1px #666;
  z-index: 999;
}

#path_journey {
  position: relative;
  width: 2px;
  background-color: #CCC;
  left: 71px;
  top: 160px;
  bottom: 0px;
  z-index: 99;
  opacity: 0.4;
}

#cover_photo .gradient {
  position: absolute;
  width: 390px;
  height: 100px;
  bottom: 0;
  background-image: -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5));
}

ul.moments {
  list-style: none;
  padding: 0;
  margin: 0 0 10px 0;
}

li.moment {
  position: relative;
  margin: 0;
  padding: 10px 0;
  border-top: 1px solid #fdfdfd;
  border-bottom: 1px solid #d6d6d6;
  text-align: right;
  min-height: 45px;
}

li.moment:first-child {
  border-top: none;
}

li.moment:last-child {
  border-bottom: none;
}

.moment_photo {
  position: relative;
  z-index: 109;
}

.moment_photo img {
  padding: 5px;
  min-height: 240px;
  width: 320px;
  margin-right: 5px;
  background: white;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.35);
}

.user_photo {
  position: absolute;
  top: 15px;
  left: 10px;
  -webkit-border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 4px rgba(0,0,0,0.5),
                      0 1px 0 white;
  overflow: hidden;
}

.user_photo img {
  display: block;
  position: relative;
  z-index: -1;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 5px;
}

.text p {
  margin: 0;
  font-size: 12px;
  line-height: 1.4;
}

.text p.sub_headline, .text p.created_at {
  color: #aaa;
}

.dot {
  position: absolute;
  border: 2px solid white;
  border-radius: 13px;
  z-index: 99;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.35);
  text-align: center;
}

.null.dot {
  width: 10px;
  height: 10px;
  left: 65px;
  top: 16px;
  background-color: #CDC5A1;
}

.place.dot {
  background-color: #094EB9;
  width: 22px;
  height: 22px;
  left: 59px;
  top: 13px;
  border-radius: 24px;
}

.awake.dot {
  background-color: rgb(252, 205, 0);
  width: 22px;
  height: 22px;
  left: 59px;
  top: 13px;
  border-radius: 24px;
}

.asleep.dot {
  background-color: #094EB9;
  width: 22px;
  height: 22px;
  left: 59px;
  top: 13px;
  border-radius: 24px;
}

.dot img {
  width: 14px;
  margin-top: 3px;
}

.awake.dot img {
  width: 14px;
  margin-top: 4px;
}

.asleep.dot img {
  width: 12px;
  margin-top: 4px;
}

.ambient.text {
  margin-top: 5px;
  margin-left: 90px;
  width: 290px;
  text-align: left;
  text-shadow: 0 1px 0 white;
}

.comments-tip {
  position: absolute;
  margin-top: 4px;
  left: 104px;
  width: 10px;
  height: 10px;
  background: #fbfbfb;
  z-index: 10;
  -webkit-transform: rotate(45deg);
  border-top: 1px solid rgba(0,0,0,0.1);
  border-left: 1px solid rgba(0,0,0,0.1);
}

ul.comments {
  list-style: none;
  margin: 10px 0 0 85px;
  padding: 0;
  background: #fbfbfb;
  width: 295px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.35);
  -webkit-border-radius: 2px;
}

ul.comments li.text {
  position: relative;
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
}

ul.comments li.text.with_photo p {
  margin-left: 40px;
}

ul.comments li.text:last-child {
  border-bottom: 0;
}

ul.comments img.profile_photo {
  position: absolute;
  width: 32px;
  height: 32px;
  margin-right: 8px;
  -webkit-border-radius: 3px;
}

#refresh_button{
  display: block;
  position: absolute;
  top: 200px;
  left: 13px;
  width: 33px;
  height: 33px;
}

#refresh_button > div {
  position: relative;
}

#refresh_button img {
  position: absolute;
  top: 1px;
}

#refresh_button img.shadow {
  top: 0;
}

.loading {
  -webkit-animation: infinite-spinning 1.2s infinite linear;
}

@-webkit-keyframes infinite-spinning {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
